.title-container {
  position: relative;
  right: 15rem;
  max-width: 1000px;
}

.post-title {
  font-size: 7rem;
  padding-bottom: 5rem;
}

.post-content {
  font-size: 1.1rem;
  line-height: 1.5;
}

pre {
  background: rgb(70, 70, 70);
  color: whitesmoke;
}
